@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh;
    background-image: url("../img/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    position: relative;
    /* background-position: center; */
    font-size: 16px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 450px;
    /* border: 2px solid black; */
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

.text-container {
    padding: 8%;
    text-align: center;
}

.heading {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    /* font-size: 32px; */
    margin-bottom: 20px;
}

.sub-heading {
    color:  hsl(224, 23%, 55%);
    /* font-weight: 500; */
    margin-bottom: 25px;
    word-spacing: 2px;
}

.bill {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-radius: 12px;
    align-items: center;
}

.bill-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.bill-left div {
    margin-left: 20px;
}

.bill-left div h5 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.bill-left div p {
    font-weight: 00;
    color:  hsl(224, 23%, 55%);
}

.bill a {
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}

.bill a:active , .bill a:hover {
    text-decoration: none;
    color: hsl(247, 87%, 68%);
}

button {
    color: white;
    background: hsl(245, 75%, 52%);
    width: 385px;
    box-shadow:0px 18px 5px hsl(247, 56%, 94%);
    border-radius: 10px;
    height: 60px;
    padding: 20px 0;
    margin: 30px 0;
    font-weight: 700;
    display: block;
    border: none;
}

button:hover, button:active{
    background-color: hsl(247, 87%, 68%);
}



p{
    color: hsl(224, 23%, 55%);
}

p:hover,p:active{
    color:hsl(223, 47%, 23%)
}
/* .attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); } */